Repository omopockettool/omo-money-app: changes, and which Codecov flags are due for each by the changed paths.
All: ios, services, viewmodels, views

First approach to refactor the entry entity to itemList entity
  .github/.copilot-instructions.md
  CHANGELOG.md
  OMOMoney/OMOMoney.xcdatamodeld/OMOMoney.xcdatamodel/contents
  OMOMoney/PROJECT_STRUCTURE.md
  OMOMoney/Services/Implementation/CategoryService.swift
  OMOMoney/Services/Implementation/EntryService.swift
  OMOMoney/Services/Implementation/GroupService.swift
  OMOMoney/Services/Implementation/ItemListService.swift
  OMOMoney/Services/Implementation/ItemService.swift
  OMOMoney/Services/Implementation/UserGroupService.swift
  OMOMoney/Services/Implementation/UserService.swift
  OMOMoney/Services/Protocols/EntryServiceProtocol.swift
  OMOMoney/Services/Protocols/ItemListServiceProtocol.swift
  OMOMoney/Services/Protocols/ItemServiceProtocol.swift
  OMOMoney/Utilities/Helpers/CacheManager.swift
  OMOMoney/View/Group/DetailedGroupView.swift
  OMOMoney/View/ItemList/AddItemListView.swift
  OMOMoney/View/ItemList/ItemListRowView.swift
  OMOMoney/View/MainView.swift
  OMOMoney/ViewModel/Entry/EntryListViewModel.swift
  OMOMoney/ViewModel/Group/DetailedGroupViewModel.swift
  OMOMoney/ViewModel/Item/ItemListViewModel.swift
  OMOMoney/ViewModel/ItemList/AddItemListViewModel.swift
  OMOMoney/ViewModel/ItemList/ItemListDetailViewModel.swift
  OMOMoney/ViewModel/ItemList/ItemListListViewModel.swift
  OMOMoney/ViewModel/ItemList/ItemListRowViewModel.swift
  OMOMoneyTests/Cache/CacheManagerTests.swift
  OMOMoneyTests/Services/EntryServiceTests.swift
  OMOMoneyTests/Services/ItemListServiceTests.swift
  OMOMoneyTests/Services/ItemServiceTests.swift
  OMOMoneyTests/TestHelpers/TestEntityFactory.swift
  PROJECT_STRUCTURE.md
  README.md
  TODO.md
  prompt
Due: ios, services, viewmodels, views

Implementation backend entity PaymentMethod
  OMOMoney/OMOMoney.xcdatamodeld/OMOMoney.xcdatamodel/contents
  OMOMoney/Services/Implementation/PaymentMethodService.swift
  OMOMoney/Services/Protocols/PaymentMethodServiceProtocol.swift
  OMOMoney/ViewModel/PaymentMethod/AddPaymentMethodViewModel.swift
  OMOMoney/ViewModel/PaymentMethod/PaymentMethodListViewModel.swift
  OMOMoney/ViewModel/PaymentMethod/PaymentMethodPickerViewModel.swift
Due: ios, services, viewmodels

Updated documentation
  CHANGELOG.md
  README.md
Due: none

User entity better perf applied
  OMOMoney/CoreDataStack/Persistence.swift
  OMOMoney/OMOMoneyApp.swift
  OMOMoney/Services/Implementation/CoreDataService.swift
  OMOMoney/Services/Implementation/UserService.swift
  OMOMoney/Services/Protocols/UserServiceProtocol.swift
  OMOMoney/Utilities/Helpers/CacheManager.swift
  OMOMoney/Utilities/Helpers/DataPreloader.swift
  OMOMoney/Utilities/Helpers/PerformanceMonitor.swift
Due: ios, services

Group entity perf improvements
  OMOMoney/Services/Implementation/GroupService.swift
  OMOMoney/Services/Protocols/GroupServiceProtocol.swift
  OMOMoney/Utilities/Helpers/DataPreloader.swift
  OMOMoney/ViewModel/Group/GroupListViewModel.swift
Due: ios, services, viewmodels

Improvements for Group and Payment entity
  CHANGELOG.md
  OMOMoney/Services/Implementation/GroupService.swift
  OMOMoney/Services/Implementation/PaymentMethodService.swift
  OMOMoney/Services/Implementation/UserService.swift
  OMOMoney/Utilities/Helpers/CacheManager.swift
  OMOMoney/Utilities/Helpers/DataPreloader.swift
  TODO.md
Due: ios, services

Fixes backing to a simple UI version
  OMOMoney/Base/View/Loading/LoadingView.swift
  OMOMoney/PROJECT_STRUCTURE.md
  OMOMoney/View/AppContentView.swift
  OMOMoney/View/Group/CreateGroupView.swift
  OMOMoney/View/Group/DetailedGroupView.swift
  OMOMoney/View/MainView.swift
  OMOMoney/View/SettingsView.swift
  OMOMoney/View/User/CreateFirstUserView.swift
  OMOMoney/ViewModel/Group/CreateGroupViewModel.swift
  OMOMoney/ViewModel/Group/DetailedGroupViewModel.swift
  OMOMoney/ViewModel/User/CreateFirstUserViewModel.swift
  TODO.md
  logs_interaction.txt
Due: ios, viewmodels, views

Updated documentation
  CHANGELOG.md
  PROJECT_STRUCTURE.md
  TODO.md
Due: none

Refactor global for all the entities
  OMOMoney/Services/Implementation/CategoryService.swift
  OMOMoney/Services/Implementation/GroupService.swift
  OMOMoney/Services/Implementation/ItemListService.swift
  OMOMoney/Services/Implementation/ItemService.swift
  OMOMoney/Services/Implementation/PaymentMethodService.swift
  OMOMoney/Services/Implementation/UserGroupService.swift
  OMOMoney/Services/Implementation/UserService.swift
  OMOMoney/Services/Protocols/CategoryServiceProtocol.swift
  OMOMoney/Services/Protocols/GroupServiceProtocol.swift
  OMOMoney/Services/Protocols/ItemListServiceProtocol.swift
  OMOMoney/Services/Protocols/ItemServiceProtocol.swift
  OMOMoney/Services/Protocols/PaymentMethodServiceProtocol.swift
  OMOMoney/Services/Protocols/UserGroupServiceProtocol.swift
  OMOMoney/Services/Protocols/UserServiceProtocol.swift
  OMOMoney/Utilities/Helpers/DataPreloader.swift
  OMOMoney/View/ItemList/AddItemListView.swift
  OMOMoney/View/PaymentMethod/PaymentMethodPickerView.swift
  OMOMoney/ViewModel/Group/GroupListViewModel.swift
  OMOMoney/ViewModel/Item/ItemListViewModel.swift
  OMOMoney/ViewModel/ItemList/AddItemListViewModel.swift
  OMOMoney/ViewModel/ItemList/ItemListListViewModel.swift
  OMOMoney/ViewModel/PaymentMethod/PaymentMethodListViewModel.swift
  OMOMoney/ViewModel/User/UserDetailViewModel.swift
  OMOMoney/ViewModel/User/UserListViewModel.swift
  OMOMoneyTests/Services/GroupServiceTests.swift
  OMOMoneyTests/Services/ItemServiceTests.swift
  OMOMoneyTests/Services/UserGroupServiceTests.swift
Due: ios, services, viewmodels, views

feat: Implement multi-user security architecture and eliminate global data access
  CHANGELOG.md
  OMOMoney/Services/Implementation/UserGroupService.swift
  OMOMoney/Utilities/Helpers/DataPreloader.swift
  OMOMoney/View/AppContentView.swift
  OMOMoney/View/MainView.swift
  OMOMoney/ViewModel/Category/CategoryListViewModel.swift
  OMOMoney/ViewModel/Group/GroupListViewModel.swift
  OMOMoney/ViewModel/ItemList/ItemListDetailViewModel.swift
  OMOMoney/ViewModel/ItemList/ItemListListViewModel.swift
  OMOMoney/ViewModel/PaymentMethod/PaymentMethodListViewModel.swift
  TODO.md
  instrucciones_sync.swift
Due: ios, services, viewmodels, views

feat: added the limit and limitFrequency properties to Category
  OMOMoney/OMOMoney.xcdatamodeld/OMOMoney.xcdatamodel/contents
  OMOMoney/Services/Implementation/CategoryService.swift
  OMOMoney/Services/Protocols/CategoryServiceProtocol.swift
  OMOMoney/Utilities/Helpers/BudgetHelper.swift
Due: ios, services

feat: get current user and category limit fixes
  OMOMoney/Services/Implementation/CategoryService.swift
  OMOMoney/Services/Implementation/UserService.swift
  OMOMoney/Services/Protocols/UserServiceProtocol.swift
  OMOMoney/View/AppContentView.swift
  OMOMoney/View/MainView.swift
  OMOMoney/ViewModel/User/CreateFirstUserViewModel.swift
Due: ios, services, viewmodels, views

feat: itemlist and new itemlist form added
  OMOMoney/Protocols/DashboardUpdateProtocol.swift
  OMOMoney/Services/Implementation/CategoryService.swift
  OMOMoney/Services/Implementation/GroupService.swift
  OMOMoney/Services/Implementation/ItemListService.swift
  OMOMoney/Services/Implementation/UserService.swift
  OMOMoney/Utilities/Extensions/Color+Hex.swift
  OMOMoney/Utilities/Helpers/BudgetHelper.swift
  OMOMoney/Utilities/Managers/DashboardUpdateManager.swift
  OMOMoney/View/AddUserView.swift
  OMOMoney/View/AppContentView.swift
  OMOMoney/View/Category/CategoryPickerView.swift
  OMOMoney/View/Dashboard/AddItemListView.swift
  OMOMoney/View/Dashboard/DashboardHeaderView.swift
  OMOMoney/View/Dashboard/DashboardView.swift
  OMOMoney/View/Dashboard/ExpenseListView.swift
  OMOMoney/View/Dashboard/ExpenseRowView.swift
  OMOMoney/View/Dashboard/TotalSpentCardView.swift
  OMOMoney/View/ItemList/ItemListRowView.swift
  OMOMoney/ViewModel/Dashboard/DashboardViewModel.swift
  OMOMoney/ViewModel/ItemList/AddItemListViewModel.swift
  OMOMoney/ViewModel/ItemList/ItemListDetailViewModel.swift
  OMOMoney/ViewModel/ItemList/ItemListListViewModel.swift
  OMOMoney/ViewModel/ItemList/ItemListRowViewModel.swift
  OMOMoney/ViewModel/User/CreateFirstUserViewModel.swift
  OMOMoney/ViewModel/User/CreateUserViewModel.swift
  UI-UX/1. dashboard_itemlist_list.PNG
  UI-UX/2. dashboard_opened_new_itemlist.PNG
Due: ios, services, viewmodels, views

add: correct itemlist filtering and properly documented
  CHANGELOG.md
  OMOMoney/View/Dashboard/DashboardView.swift
  OMOMoney/ViewModel/Dashboard/DashboardViewModel.swift
  TODO.md
  prompt
Due: ios, viewmodels, views

feat: add new sheet for item list form and implemented cache for categories and payment methods
  OMOMoney/Services/Implementation/CategoryService.swift
  OMOMoney/Services/Implementation/GroupService.swift
  OMOMoney/Services/Implementation/PaymentMethodService.swift
  OMOMoney/View/AppContentView.swift
  OMOMoney/View/Dashboard/DashboardView.swift
  OMOMoney/View/Dashboard/QuickExpenseView.swift
  OMOMoney/ViewModel/ItemList/QuickExpenseViewModel.swift
  TODO.md
  prompt
Due: ios, services, viewmodels, views

feat: cache for itemlist and test data load gear button
  OMOMoney/Services/Implementation/ItemListService.swift
  OMOMoney/Utilities/TestDataGenerator.swift
  OMOMoney/View/SettingsView.swift
  OMOMoney/View/TestDataView.swift
  OMOMoney/ViewModel/Dashboard/DashboardViewModel.swift
  TODO.md
Due: ios, services, viewmodels, views

feat: implement swipe-to-delete with incremental cache pattern (v0.12.0)
  CHANGELOG.md
  OMOMoney/Services/Implementation/ItemListService.swift
  OMOMoney/View/Dashboard/AddItemListView.swift
  OMOMoney/View/Dashboard/DashboardView.swift
  OMOMoney/View/Dashboard/ExpenseListView.swift
  OMOMoney/View/Dashboard/QuickExpenseView.swift
  OMOMoney/ViewModel/Dashboard/DashboardViewModel.swift
  OMOMoney/ViewModel/ItemList/AddItemListViewModel.swift
  OMOMoney/ViewModel/ItemList/QuickExpenseViewModel.swift
  README.md
  TODO.md
  prompt
Due: ios, services, viewmodels, views

feat: Implement TTL cache invalidation with 30-minute expiration
  CHANGELOG.md
  OMOMoney/Services/Implementation/ItemListService.swift
  OMOMoney/View/Dashboard/DashboardView.swift
  OMOMoney/View/Dashboard/ExpenseListView.swift
  OMOMoney/ViewModel/Dashboard/DashboardViewModel.swift
  prompt
Due: ios, services, viewmodels, views

feat: first approach for Splash
  OMOMoney/Assets.xcassets/AccentColor.colorset/Contents.json
  OMOMoney/Base/View/Loading/SplashView.swift
  OMOMoney/View/AppContentView.swift
  OMOMoney/View/Dashboard/DashboardView.swift
  OMOMoney/View/MainView.swift
  OMOMoney/ViewModel/Dashboard/DashboardViewModel.swift
Due: ios, viewmodels, views

fix: deleting grupo correctly and ux improvements
  OMOMoney/OMOMoney.xcdatamodeld/OMOMoney.xcdatamodel/contents
  OMOMoney/Services/Implementation/CoreDataService.swift
  OMOMoney/Services/Implementation/GroupService.swift
  OMOMoney/Utilities/Constants/AppConstants.swift
  OMOMoney/View/Dashboard/DashboardHeaderView.swift
  OMOMoney/View/Dashboard/DashboardView.swift
  OMOMoney/View/Dashboard/ExpenseListView.swift
  OMOMoney/View/Dashboard/ExpenseRowView.swift
  OMOMoney/View/Dashboard/GroupSelectorChipView.swift
  OMOMoney/View/Dashboard/GroupSelectorView.swift
  OMOMoney/View/Dashboard/TotalSpentCardView.swift
  OMOMoney/View/Group/CreateGroupView.swift
  OMOMoney/ViewModel/Dashboard/DashboardViewModel.swift
Due: ios, services, viewmodels, views

feat: fade in and loading spinner added
  OMOMoney/View/Dashboard/DashboardView.swift
  OMOMoney/View/Dashboard/GroupSelectorChipView.swift
  OMOMoney/ViewModel/Dashboard/DashboardViewModel.swift
Due: ios, viewmodels, views

add: CHANGELOG updated
  CHANGELOG.md
Due: none

feat: custom alert component, group deletion flow, animations improved
  CHANGELOG.md
  OMOMoney/Base/View/Alert/CustomAlertView.swift
  OMOMoney/Base/View/Alert/README.md
  OMOMoney/View/Dashboard/GroupSelectorChipView.swift
Due: ios, views

feat: hard refactor
  OMOMoney/Application/DIContainer/AppDIContainer.swift
  OMOMoney/Data/Repositories/DefaultItemListRepository.swift
  OMOMoney/Domain/Interfaces/Repositories/ItemListRepository.swift
  OMOMoney/Domain/UseCases/ItemList/BulkInsertItemListsUseCase.swift
  OMOMoney/Domain/UseCases/ItemList/CreateItemListUseCase.swift
  OMOMoney/Domain/UseCases/ItemList/DeleteItemListUseCase.swift
  OMOMoney/Domain/UseCases/ItemList/FetchItemListsUseCase.swift
  OMOMoney/Domain/UseCases/ItemList/UpdateItemListUseCase.swift
  OMOMoney/Services/Implementation/ItemListService.swift
  OMOMoney/Services/Protocols/ItemListServiceProtocol.swift
  OMOMoney/View/Dashboard/AddItemListView.swift
  OMOMoney/View/Dashboard/DashboardView.swift
  OMOMoney/ViewModel/ItemList/AddItemListViewModel.swift
Due: ios, services, viewmodels, views

chore: removed warnings
  OMOMoney/Services/Implementation/ItemListService.swift
  OMOMoney/Utilities/TestDataGenerator.swift
  OMOMoney/View/Dashboard/AddItemListView.swift
  OMOMoney/ViewModel/Dashboard/DashboardViewModel.swift
  OMOMoney/ViewModel/User/CreateFirstUserViewModel.swift
Due: ios, services, viewmodels, views

fix: removed role destructive which caused the abrupt deletion from the group list
  OMOMoney/Presentation/Scenes/Dashboard/GroupSelectorChipView.swift
Due: ios

feat: refactor using use cases
  OMOMoney/Application/DIContainer/AppDIContainer.swift
  OMOMoney/Data/Repositories/DefaultItemListRepository.swift
  OMOMoney/Data/Repositories/DefaultItemRepository.swift
  OMOMoney/Domain/Entities/UserDomain.swift
  OMOMoney/Domain/UseCases/Group/FetchGroupsForUserUseCase.swift
  OMOMoney/Domain/UseCases/Item/CreateItemUseCase.swift
  OMOMoney/Domain/UseCases/Item/DeleteItemUseCase.swift
  OMOMoney/Domain/UseCases/Item/FetchItemsUseCase.swift
  OMOMoney/Domain/UseCases/Item/UpdateItemUseCase.swift
  OMOMoney/Domain/UseCases/User/GetCurrentUserUseCase.swift
  OMOMoney/Infrastructure/Utils/DashboardUpdateManager.swift
  OMOMoney/Presentation/Common/Components/Loading/SplashView.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardUpdateProtocol.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardView.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardViewModel.swift
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailView.swift
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailViewModel.swift
  docs/RULES.md
  docs/architecture/PROJECT_STRUCTURE.md
  docs/architecture/QUICK_START.md
Due: ios

chore: update documentation
  CHANGELOG.md
  README.md
  TODO.md
  guidelines.md
  instrucciones_sync.swift
Due: none

refactor: align Item CRUD with ItemList Clean Architecture pattern
  CHANGELOG.md
  OMOMoney/Presentation/Scenes/ItemList/AddItemViewModel.swift
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailView.swift
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailViewModel.swift
Due: ios

feat: consolidate ItemList creation with native pickers and sheet presentation (v0.18.0)
  CHANGELOG.md
  OMOMoney/Application/DIContainer/AppDIContainer.swift
  OMOMoney/Presentation/Scenes/Dashboard/AddItemListView.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardView.swift
  OMOMoney/Presentation/Scenes/Dashboard/QuickExpenseView.swift
  OMOMoney/Presentation/Scenes/ItemList/AddItemListViewModel.swift
  OMOMoney/Presentation/Scenes/ItemList/QuickExpenseViewModel.swift
Due: ios

feat: implement native iOS navigation pattern with instant context refresh (v0.19.0)
  CHANGELOG.md
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailView.swift
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailViewModel.swift
Due: ios

fix: Migration using Domain Models first approach
  CHANGELOG.md
  OMOMoney/Data/Repositories/DefaultItemListRepository.swift
  OMOMoney/Data/Repositories/DefaultItemRepository.swift
  OMOMoney/Data/Services/ItemListService.swift
  OMOMoney/Data/Services/ItemService.swift
  OMOMoney/Domain/UseCases/ItemList/FetchItemListsUseCase.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardView.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardViewModel.swift
  OMOMoney/Presentation/Scenes/Dashboard/ExpenseListView.swift
  OMOMoney/Presentation/Scenes/Dashboard/ExpenseRowView.swift
  OMOMoney/Presentation/Scenes/ItemList/AddItemViewModel.swift
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailView.swift
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailViewModel.swift
  docs/DOMAIN_REFACTOR_TODO.md
  docs/RULES.md
  logs_interaction.txt
Due: ios

fix: resolve category display and cache invalidation issues
  OMOMoney/Data/Repositories/DefaultItemRepository.swift
  OMOMoney/Data/Services/ItemListService.swift
  OMOMoney/Data/Services/ItemService.swift
  OMOMoney/Domain/Protocols/Services/ItemServiceProtocol.swift
  OMOMoney/Infrastructure/Utils/TestDataGenerator.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardView.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardViewModel.swift
  OMOMoney/Presentation/Scenes/Dashboard/ExpenseListView.swift
  OMOMoney/Presentation/Scenes/Dashboard/ExpenseRowView.swift
  OMOMoney/Presentation/Scenes/Item/ItemListViewModel.swift
  docs/RULES.md
  logs_interaction.txt
Due: ios

fix: item management improved
  OMOMoney/Data/Repositories/DefaultItemRepository.swift
  OMOMoney/Data/Services/ItemService.swift
  OMOMoney/Domain/UseCases/Item/FetchItemsUseCase.swift
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailViewModel.swift
  docs/RULES.md
  logs_interaction.txt
Due: ios

fix: category entity following clean arch
  OMOMoney/Application/DIContainer/AppDIContainer.swift
  OMOMoney/Data/Repositories/DefaultCategoryRepository.swift
  OMOMoney/Data/Services/CategoryService.swift
  OMOMoney/Data/Services/GroupService.swift
  OMOMoney/Domain/Protocols/Services/CategoryServiceProtocol.swift
  OMOMoney/Domain/UseCases/Category/FetchCategoriesUseCase.swift
  OMOMoney/Presentation/Scenes/Category/CategoryListViewModel.swift
  OMOMoney/Presentation/Scenes/Dashboard/AddItemListView.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardView.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardViewModel.swift
  OMOMoney/Presentation/Scenes/Dashboard/GroupSelectorChipView.swift
  OMOMoney/Presentation/Scenes/Group/CreateGroupView.swift
  OMOMoney/Presentation/Scenes/ItemList/AddItemListViewModel.swift
  logs_interaction.txt
Due: ios

last entities refactored Category Management, PaymentMethod Management and User/Group Management
  OMOMoney/Application/DIContainer/AppDIContainer.swift
  OMOMoney/Domain/UseCases/Category/CreateCategoryUseCase.swift
  OMOMoney/Domain/UseCases/Category/DeleteCategoryUseCase.swift
  OMOMoney/Domain/UseCases/Category/UpdateCategoryUseCase.swift
  OMOMoney/Domain/UseCases/PaymentMethod/CreatePaymentMethodUseCase.swift
  OMOMoney/Domain/UseCases/PaymentMethod/DeletePaymentMethodUseCase.swift
  OMOMoney/Domain/UseCases/PaymentMethod/UpdatePaymentMethodUseCase.swift
  OMOMoney/Presentation/Scenes/Category/CategoryListViewModel.swift
  OMOMoney/Presentation/Scenes/Category/CategoryPickerView.swift
  OMOMoney/Presentation/Scenes/Category/CategoryPickerViewModel.swift
  OMOMoney/Presentation/Scenes/Dashboard/AddItemListView.swift
  OMOMoney/Presentation/Scenes/ItemList/AddItemViewModel.swift
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailView.swift
  OMOMoney/Presentation/Scenes/PaymentMethod/AddPaymentMethodViewModel.swift
  OMOMoney/Presentation/Scenes/PaymentMethod/PaymentMethodListViewModel.swift
  OMOMoney/Presentation/Scenes/PaymentMethod/PaymentMethodPickerView.swift
  OMOMoney/Presentation/Scenes/PaymentMethod/PaymentMethodPickerViewModel.swift
  OMOMoney/Presentation/Scenes/User/EditUserView.swift
  OMOMoney/Presentation/Scenes/User/EditUserViewModel.swift
  OMOMoney/Presentation/Scenes/User/UserListView.swift
  OMOMoney/Presentation/Scenes/User/UserListViewModel.swift
  logs_interaction.txt
Due: ios

last refactor clean architecture
  OMOMoney/Application/ContentView.swift
  OMOMoney/Application/DIContainer/AppDIContainer.swift
  OMOMoney/Presentation/Common/Views/AppContentView.swift
  OMOMoney/Presentation/Common/Views/MainView.swift
  OMOMoney/Presentation/Scenes/Dashboard/AddItemListView.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardView.swift
  OMOMoney/Presentation/Scenes/Dashboard/DashboardViewModel.swift
  OMOMoney/Presentation/Scenes/Dashboard/GroupSelectorChipView.swift
  OMOMoney/Presentation/Scenes/ItemList/AddItemListViewModel.swift
  OMOMoney/Presentation/Scenes/ItemList/AddItemViewModel.swift
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailView.swift
  OMOMoney/Presentation/Scenes/ItemList/ItemListDetailViewModel.swift
  OMOMoney/Presentation/Scenes/User/UserDetailViewModel.swift
  docs/CLEAN_ARCHITECTURE_REFACTOR_SUMMARY.md
  docs/RULES.md
  docs/archived/2025-12-refactor/DOMAIN_REFACTOR_TODO.md
  docs/archived/2025-12-refactor/REFACTOR_PLAN_PURE_DOMAIN.md
Due: ios

Path conditions:
  ios: any of: OMOMoney/, but not: OMOMoneyTests/, OMOMoneyUITests/, OMOMoneyPerformanceTests/, **/*.generated.swift, **/Generated/, **/Mock*.swift, **/Test*.swift, **/Fake*.swift, **/*+Test.swift, **/*+Mock.swift
  services: any of: OMOMoney/Services/, but not: OMOMoneyTests/, OMOMoneyUITests/, OMOMoneyPerformanceTests/, **/*.generated.swift, **/Generated/, **/Mock*.swift, **/Test*.swift, **/Fake*.swift, **/*+Test.swift, **/*+Mock.swift
  viewmodels: any of: OMOMoney/ViewModel/, but not: OMOMoneyTests/, OMOMoneyUITests/, OMOMoneyPerformanceTests/, **/*.generated.swift, **/Generated/, **/Mock*.swift, **/Test*.swift, **/Fake*.swift, **/*+Test.swift, **/*+Mock.swift
  views: any of: OMOMoney/View/, but not: OMOMoneyTests/, OMOMoneyUITests/, OMOMoneyPerformanceTests/, **/*.generated.swift, **/Generated/, **/Mock*.swift, **/Test*.swift, **/Fake*.swift, **/*+Test.swift, **/*+Mock.swift
