Repository omopockettool/omo-money-app: changes, and which Codecov flags are due for each by the changed paths.
All: ios, services, viewmodels, views

codecov.yml:

# Codecov Configuration for OMOMoney
# This file configures code coverage reporting and thresholds

# MARK: - Coverage Configuration
coverage:
  precision: 2
  round: down
  range: "80...100"
  status:
    project:
      default:
        target: 80%
        threshold: 5%
        base: auto
        informational: true
    patch:
      default:
        target: 80%
        threshold: 5%
        base: auto
        informational: true

# MARK: - Comment Configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# MARK: - Ignore Patterns
ignore:
  - "OMOMoneyTests/"
  - "OMOMoneyUITests/"
  - "OMOMoneyPerformanceTests/"
  - "**/*.generated.swift"
  - "**/Generated/"
  - "**/Mock*.swift"
  - "**/Test*.swift"
  - "**/Fake*.swift"
  - "**/*+Test.swift"
  - "**/*+Mock.swift"

# MARK: - File Paths
paths:
  - "OMOMoney/"
  - "!OMOMoneyTests/"
  - "!OMOMoneyUITests/"
  - "!OMOMoneyPerformanceTests/"

# MARK: - Flags
flags:
  ios:
    paths:
      - "OMOMoney/"
    coverage:
      target: 85%
      threshold: 5%
  services:
    paths:
      - "OMOMoney/Services/"
    coverage:
      target: 90%
      threshold: 5%
  viewmodels:
    paths:
      - "OMOMoney/ViewModel/"
    coverage:
      target: 80%
      threshold: 5%
  views:
    paths:
      - "OMOMoney/View/"
    coverage:
      target: 75%
      threshold: 5%

# MARK: - Notifications
notify:
  wait_for_ci: true
  require_ci_to_pass: true

# MARK: - GitHub Integration
github_checks:
  annotations: true

fix: Remove incorrect custom rule from SwiftLint configuration
  .swiftlint.yml
  OMOMoney/ContentView.swift
  OMOMoney/CoreDataStack/Persistence.swift
  OMOMoney/Services/Implementation/CategoryService.swift
  OMOMoney/Services/Implementation/CoreDataService.swift
  OMOMoney/Services/Implementation/EntryService.swift
  OMOMoney/Services/Implementation/GroupService.swift
  OMOMoney/Services/Implementation/ItemService.swift
  OMOMoney/Services/Implementation/UserGroupService.swift
  OMOMoney/Services/Implementation/UserService.swift
  OMOMoney/Services/Protocols/CategoryServiceProtocol.swift
  OMOMoney/Services/Protocols/EntryServiceProtocol.swift
  OMOMoney/Services/Protocols/GroupServiceProtocol.swift
  OMOMoney/Services/Protocols/ItemServiceProtocol.swift
  OMOMoney/Services/Protocols/UserGroupServiceProtocol.swift
  OMOMoney/Services/Protocols/UserServiceProtocol.swift
  OMOMoney/Utilities/Extensions/Color+Hex.swift
  OMOMoney/Utilities/Extensions/User+Safe.swift
  OMOMoney/View/AddUserView.swift
  OMOMoney/View/EditUserView.swift
  OMOMoney/View/Entry/EntryRowView.swift
  OMOMoney/View/Group/CreateGroupView.swift
  OMOMoney/View/Group/DetailedGroupView.swift
  OMOMoney/View/MainView.swift
  OMOMoney/View/User/UserListView.swift
  OMOMoney/ViewModel/Category/CategoryListViewModel.swift
  OMOMoney/ViewModel/Entry/EntryDetailViewModel.swift
  OMOMoney/ViewModel/Entry/EntryListViewModel.swift
  OMOMoney/ViewModel/Entry/EntryRowViewModel.swift
  OMOMoney/ViewModel/Group/CreateGroupViewModel.swift
  OMOMoney/ViewModel/Group/DetailedGroupViewModel.swift
  OMOMoney/ViewModel/Group/GroupListViewModel.swift
  OMOMoney/ViewModel/Item/ItemListViewModel.swift
  OMOMoney/ViewModel/User/CreateUserViewModel.swift
  OMOMoney/ViewModel/User/EditUserViewModel.swift
  OMOMoney/ViewModel/User/UserDetailViewModel.swift
  OMOMoney/ViewModel/User/UserListViewModel.swift
Due: ios, services, viewmodels, views

fix: Eliminate force unwrapping in ViewModels for better safety
  OMOMoney/ViewModel/Entry/EntryDetailViewModel.swift
  OMOMoney/ViewModel/Entry/EntryListViewModel.swift
  OMOMoney/ViewModel/Group/DetailedGroupViewModel.swift
Due: ios, viewmodels

fix: Eliminate force unwrapping in Persistence for Core Data safety
  OMOMoney/CoreDataStack/Persistence.swift
Due: ios

fix: Resolve isEmpty scope errors in User+Safe extensions
  OMOMoney/Utilities/Extensions/User+Safe.swift
Due: ios

chore: Update .gitignore to exclude generated files
  .gitignore
Due: none

fix: isEmpty error fixed
  OMOMoney/Services/Implementation/CategoryService.swift
  OMOMoney/Services/Implementation/GroupService.swift
  OMOMoney/Services/Implementation/UserGroupService.swift
  OMOMoney/Services/Implementation/UserService.swift
Due: ios, services

fix: Pipelines updated
  .github/workflows/ios.yml
  .github/workflows/pr-checks.yml
Due: none

fix: corrections swiftlint
  .github/workflows/ios.yml
Due: none

fix: export variables
  .github/workflows/ios.yml
  .github/workflows/pr-checks.yml
Due: none

fix:
  .github/workflows/ios.yml
  .github/workflows/pr-checks.yml
Due: none

fix: action-swiftlint@v1
  .github/workflows/ios.yml
  .github/workflows/pr-checks.yml
Due: none

fix: manual instalation swiftlint
  .github/workflows/ios.yml
  .github/workflows/pr-checks.yml
Due: none

fix: using system path
  .github/workflows/ios.yml
  .github/workflows/pr-checks.yml
Due: none

fix: homebrew for swiftlint
  .github/workflows/ios.yml
  .github/workflows/pr-checks.yml
Due: none

Fix: several fixes
  OMOMoney/Utilities/Constants/AppConstants.swift
  OMOMoney/Utilities/Extensions/User+Safe.swift
  OMOMoney/Utilities/Helpers/CacheManager.swift
  OMOMoney/View/SettingsView.swift
  OMOMoney/View/User/UserListView.swift
Due: ios, views

fix: DetailedGroupView fixed
  OMOMoney/View/Group/DetailedGroupView.swift
Due: ios, views

fix: ios simulator version iPhone 16
  .github/workflows/ios.yml
  .github/workflows/pr-checks.yml
Due: none

fix: .count
  OMOMoney/Utilities/Extensions/User+Safe.swift
Due: ios

fix: deleted unnecesary extensions
  OMOMoney/Utilities/Extensions/Color+Hex.swift
  OMOMoney/Utilities/Extensions/NSDecimalNumber+Safe.swift
  OMOMoney/Utilities/Extensions/User+Safe.swift
  OMOMoney/View/Entry/EntryRowView.swift
Due: ios, views

fix: tests
  OMOMoneyTests/TestHelpers/TestEntityFactory.swift
Due: none

fix: tests fixed
  OMOMoneyTests/Services/EntryServiceTests.swift
  OMOMoneyTests/Services/GroupServiceTests.swift
  OMOMoneyTests/Services/ItemServiceTests.swift
  OMOMoneyTests/Services/UserGroupServiceTests.swift
  OMOMoneyTests/Services/UserServiceTests.swift
Due: none

fix: test fixed
  OMOMoneyTests/Services/CategoryServiceTests.swift
  OMOMoneyTests/Services/EntryServiceTests.swift
  OMOMoneyTests/Services/GroupServiceTests.swift
  OMOMoneyTests/Services/ItemServiceTests.swift
  OMOMoneyTests/Services/UserGroupServiceTests.swift
  OMOMoneyTests/Services/UserServiceTests.swift
Due: none

fix: tests
  OMOMoneyTests/Services/CategoryServiceTests.swift
  OMOMoneyTests/Services/UserGroupServiceTests.swift
Due: none

Fix: cache manager test
  OMOMoneyTests/Cache/CacheManagerTests.swift
Due: none

fix: test errors
  OMOMoneyTests/Services/ItemServiceTests.swift
  OMOMoneyTests/Services/UserGroupServiceTests.swift
  OMOMoneyTests/Services/UserServiceTests.swift
  prompt
Due: none

fix: tests
  OMOMoneyTests/Services/GroupServiceTests.swift
Due: none

feat: ios backend only
  .github/workflows/ios-backend-only.yml
  .github/workflows/ios.yml
Due: none

feat: first ui approach
  OMOMoney/Utilities/Extensions/Color+Hex.swift
  OMOMoney/View/Category/CategoryPickerView.swift
  OMOMoney/View/Entry/AddEntryView.swift
  OMOMoney/View/Group/CreateGroupView.swift
  OMOMoney/View/Group/DetailedGroupView.swift
  OMOMoney/View/MainView.swift
  OMOMoney/View/SettingsView.swift
  OMOMoney/View/User/UserListView.swift
  OMOMoney/ViewModel/Category/CategoryPickerViewModel.swift
  OMOMoney/ViewModel/Entry/AddEntryViewModel.swift
  OMOMoney/ViewModel/Group/CreateGroupViewModel.swift
  OMOMoney/ViewModel/Group/DetailedGroupViewModel.swift
  prompt
Due: ios, viewmodels, views

Updated TODO.md
  TODO.md
Due: none

feat: Complete navigation implementation with NavigationStack
  OMOMoney/Base/View/Loading/LoadingView.swift
  OMOMoney/View/Group/DetailedGroupView.swift
  OMOMoney/View/MainView.swift
  prompt
Due: ios, views

Updated CHANGELOG, README and TODO
  CHANGELOG.md
  README.md
  TODO.md
Due: none

feat: implement first user creation flow and stability improvements
  CHANGELOG.md
  OMOMoney/View/Entry/AddEntryView.swift
  OMOMoney/View/Entry/EntryRowView.swift
  OMOMoney/View/Group/DetailedGroupView.swift
  OMOMoney/View/Group/ManageGroupsView.swift
  OMOMoney/View/MainView.swift
  OMOMoney/View/SettingsView.swift
  OMOMoney/View/User/CreateFirstUserView.swift
  OMOMoney/ViewModel/Group/DetailedGroupViewModel.swift
  OMOMoney/ViewModel/Group/ManageGroupsViewModel.swift
  OMOMoney/ViewModel/User/CreateFirstUserViewModel.swift
  README.md
  TODO.md
  prompt
Due: ios, viewmodels, views

fix: resolve infinite loading in user selection dropdown
  CHANGELOG.md
  OMOMoney/View/Group/DetailedGroupView.swift
  OMOMoney/ViewModel/Group/DetailedGroupViewModel.swift
  README.md
Due: ios, viewmodels, views

Copilot instructions added
  .github/.copilot-instructions.md
  PROJECT_STRUCTURE.md
Due: none

Fixe extension colors
  OMOMoney/Utilities/Extensions/Color+Hex.swift
Due: ios

updated pr-checks.ylm
  .github/workflows/pr-checks.yml
Due: none

Removed unnecesary backend test
  .github/workflows/ios-backend-only.yml
Due: none

Removed brew install command
  .github/workflows/pr-checks.yml
Due: none

fix norio-nomura version
  .github/workflows/pr-checks.yml
Due: none

Upated pr-checks for a simple version
  .github/workflows/pr-checks.yml
Due: none
